.b_reading {
    background: #fea2ff;
    width: 18px;
    height: 18px;
    padding: 0 0 0 0
}
.b_start {
    background: #ff52fb;
    width: 18px;
    height: 18px;
    padding: 0 0 0 0
}
.b_not_reading {
    background: #fdf8ff;
    width: 18px;
    height: 18px;
    padding: 0 0 0 0
}
.dayHeader {
    background: #d4d8ff;
    width: 18px;
    height: 18px;
    text-align: center;
}
td{
    border: 1px solid black;
}



.md-button.bookLink {
    line-height: 18px;
    margin: 0px 0px;
    min-height: 16px;
    max-height: 16px;
}

.booksRow {
    min-height: 18px;
    max-height: 18px;
    height: 18px;
    line-height: 18px;
    padding: 0 0 0 0
}

.ma2 {
    max-width: 42px;
    overflow: hidden;
    text-overflow: clip;
}